{
    // A collection of code transform plugins. 
    "presets": [
        // Next specify the environment we want to target. In this situation the browsers.
        ["env", {
            "targets": {
                // Targeting all browsers and the last 5 versions. Figures out which ES6 conversions need to take place for compatibility.
                "browsers": [
                    "last 5 versions",
                    // Support internet explorer version 8 or greater.
                    "ie >= 8"
                ]
            }
        }]
    ]
}